:root {
    --cream: rgb(249 248 244);
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--cream);
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr 1fr 1fr;
}

.top {
    background-color: yellow;
    grid-area: 1 / 2 / 2/ 4;
}

main {
    background-color: var(--cream);
    grid-area: 2/ 2/ 3 / 3;
    display: grid;
    overflow: auto;
    padding: 16px 48px;
    column-gap: 32px;
    row-gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
}

.right {
    background-color: green;
    grid-area: 2/ 3 / 3 / 4;
}

.card {
    display: grid;
    grid-template: 4fr 1fr 1fr / 3fr 1fr 1fr;
}

.coverArt {
    grid-area: 1 / 1 / 2 / 5;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    grid-area: 2 /1 / 3/ 4;
    font-size: 32px;
    font-weight: bolder;
}



